<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" type='text/javascript'></script>
        <script src="common.js" type="text/javascript"></script>
        <script src="page_scripts/index.js" type="text/javascript"></script>

        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="common.css">
        <style>
            .cal_table{
                display: table;
                border-spacing: 10px;
                border-collapse: separate;
            }
            .cal_cell_first{
                padding-left: 8px;
            }
            .cal_cell_first, .cal_cell_head, .cal_cell{
                display: table-cell;
            }
            .cal_cell_head, .cal_cell_first{
                font-weight: bolder;
            }
            .cal_row{
                display: table-row;
            }
            .cal_header{
                display: table-header-group;
            }
            .cal_body{
                display: table-row-group;
            }
            
            input.option_input{
                margin-right: 4px;
                margin-left: 24px;
            }
        </style>
    </head>

    <body>
        <div id="nav_bar_container">
        </div>

        <div id="left_container" style="width: 50%; float:left;">
            <div id="weights_container" style="height: 40%; margin-left: 16px; margin-top: 16px; ">
                <div id="timespan_options" style="margin-bottom:8px">
                    <label class="option_label" for="weekly">
                        <input class="option_input" type="radio" id="weekly" name="timespan" value="week"></input>
                        Past Week
                    </label>
                    <label class="option_label" for="monthly">
                        <input class="option_input" type="radio" id="monthly" name="timespan" value="month"></input>
                        Past Month
                    </label>
                    <label class="option_label" for="yearly">
                        <input class="option_input" type="radio" id="yearly" name="timespan" value="year"></input>
                        Past Year
                    </label>
                </div>
                <div id="weights_form">
                    <label for="weight_input">Enter today's weight:</label>
                    <div>
                        <input id="weight_input">
                        <input id="weight_submit_btn" type="submit" name="action" value="Enter weight">
                    </div>
                </div>
                <div id="weights_list" style="overflow: auto; height: 73%;">
                    <ul>
                    </ul>
                </div>
            </div>
            <div id="cal_entries_container" style="height: 60%; margin-left: 6px; margin-top: 16px;">
                <div id="cal_entries_table" class="cal_table">
                </div>
            </div>
        </div>

        <div id="right_container" style="width:50%; float:right;">
            <div style="margin: auto;width: 20%;text-align: center;min-width: auto;" class="alert alert-danger" id="warning_container">
                <% if(locals.err_msg){ %>
                <%= err_msg %>
                <% } %>
            </div>
            <script>
                if(<%= locals.err_msg === undefined %>){
                    $("#warning_container").hide();
                }
            </script>
            <div id="ingredients_options_container">
                <select id="ingredients_list">
                <% for( var i = 0; i < ingredients.length; i++){%>
                    <%var ingredient_name = ingredients[i].ingredient_name; %>
                    <option value="<%= ingredient_name%>"><%= ingredient_name%></option> 
                <% } %>
                </select>
                <input type="button" id="add_ingredient_btn" value="Add Ingredient"></input>
            </div>
            
            <div id="recipes_options_container">
                <select id="recipes_list">
                <% for( var i = 0; i < recipes.length; i++){%>
                    <%var recipe_name = recipes[i].recipe_name; %>
                    <option value="<%= recipe_name%>"><%= recipe_name%></option> 
                <% } %>
                </select>
                <input type="button" id="add_recipe_ings_btn" value="Add From Recipe"></input>
            </div>
            <div id="meal_options_container">
                <select id="meals_list">
                </select>
                <input type="button" id="add_meal_btn" value="Add From Meal"></input>
            </div>
            <div>
                <table>
                    <tbody id="ingredients_container">
                        <tr>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Amount</th>
                            <th>Calories</th>
                            <th>Fat</th>
                            <th>Carbs</th>
                            <th>Fiber</th>
                            <th>Protein</th>
                        </tr>
                    </tbody>
                    <tfoot id="totals_container"></tfoot>
                </table>
            </div>
            <div>Any ingredients with amount 0 will not be included.</div>
            <input type="submit" id="one_off_btn" name="action" value="I Ate It!">
        </div>
    </body>
</html>
